.header h2 {
  color: darkred;
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  padding: 0 1em;
}
.landing-content {
  margin-top: 23px;
  border-top: 2px solid rgb(139,0,139);
  display: block;
}
.action-btn {
  padding: 15px;
  margin-left: 1em;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid rgba(138, 17, 138, 0.5);
}
.action-btn:hover {
  cursor: pointer;
  color: #fff;
  background: rgb(138, 17, 137);
}
.intro, .rules, .action {
  padding: 0.8em;
}
.action {
  border-top: 1px solid rgba(138, 17, 138, 0.4);
  color: darkred;
  background-color: #f6f6f6c0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2em;
  padding: 1em 2em;
  letter-spacing: .1em
}

/* HEAD IMAGE */
.head-image {
  margin: 0 15%;
}
.head-image img {
  top: 0;
  width: 100%;
}
