<div class="header">
  <h2>MadCity GeoTour</h2>
</div>
<div class="landing-content">
  <div class="intro">
    <h4>What's this application about.</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div class="action">
    <h4>Interested? Sign in!</h4>
    <div class="2-btn">
      <button class="action-btn" [routerLink]="['/register']">Register</button>
      <button class="action-btn" [routerLink]="['/login']">Log In</button>
    </div>
  </div>
  <div class="rules">
    <h4>The rules are.</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
</div>
<app-footer></app-footer>
