<div class="map-container">
  <app-modal-window
    *ngIf="modalWindow"
    (closeModal)="receiveCloseModal($event)"
    [notification]="notification"
    [geoObject]="currentObject"></app-modal-window>
  <agm-map [latitude]="currentLatitude" [longitude]="currentLongtitude" [zoom]="mapZoom">
    <agm-marker *ngFor="let object of userGeoObjects"
      [latitude]="object.coords.latitude"
      [longitude]="object.coords.longitude"
      [id]="object.id"
      [iconUrl]="objectMarker"
      (markerClick)="handleMarkerClick($event)">
    </agm-marker>
    <agm-marker
      [latitude]="currentLatitude"
      [longitude]="currentLongtitude"
      [iconUrl]="userMarker">
    </agm-marker>
  </agm-map>
  <app-checkin
  *ngIf="currentLatitude && currentLongtitude && userGeoObjects"
  [(geoObjects)]="userGeoObjects"
  [(currentLatitude)]="currentLatitude"
  [(currentLongtitude)]="currentLongtitude"
  (handleCoordinatesChange)="changed($event)"
  (handleNotification)="notificationChanged($event)"></app-checkin>
</div>
<ngx-spinner
bdColor = "rgba(1,51,51,0.8)"
size = "large"
color = "#FADA5E"
type = "pacman"
></ngx-spinner>
