<div class="map-container">
  <app-modal-window
    *ngIf="modalWindow"
    (closeModal)="receiveCloseModal($event)"
    [geoObject]="currentObject"></app-modal-window>
  <agm-map [latitude]="currentLatitude" [longitude]="currentLongtitude">
    <agm-marker *ngFor="let object of geoObjects"
      [latitude]="object.coords.latitude"
      [longitude]="object.coords.longitude"
      [id]="object.id"
      (markerClick)="handleMarkerClick($event)">
    </agm-marker>
  </agm-map>
  <app-checkin *ngIf="currentLatitude && currentLongtitude"></app-checkin>
</div>
