<div class="header">
    <h2>To Check</h2>
</div>
<div class="clipboard-message" *ngIf="clipboardMessage">
  Copied to clipboard
</div>
<div class="checklist-container">
  <div class="checklist-item" *ngFor="let object of userGeoObjects" [ngClass]="!object.visited ? 'toCheck' : 'checked'">
    <div class="checklist-content">
      <h4>{{object.name}}</h4>
      <p class="modal-address" (click)="copyMessage(object?.address)" value="click to copy">{{ object?.address }}</p>
    </div>
  </div>
</div>
