<div class="nav-menu">
    <div class="container" (click)="changeStyleClass()" [ngClass]="status ? 'change' : null">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    <div *ngIf="status" class="menu-content">
        <div class="container" (click)="changeStyleClass()" [ngClass]="status ? 'change' : null">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
          <div class="menu-list">
            <ul>
              <li *ngIf="authService.loggedIn()"
                [routerLink]="['/profile']"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">Profile</li>
              <li *ngIf="authService.loggedIn()"
                [routerLink]="['/checklist']"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">Checklist</li>
              <li *ngIf="authService.loggedIn()"
                [routerLink]="['/map']"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">Map</li>
              <li [routerLink]="['/rules']"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">Rules</li>
              <li *ngIf="!authService.loggedIn()"
                [routerLink]="['/register']"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">Register</li>
              <li *ngIf="!authService.loggedIn()"
                [routerLink]="['/login']"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">Login</li>
                <li *ngIf="authService.loggedIn()"
                (click)="onLogoutClick()">Logout</li>
            </ul>
          </div>
    </div>
</div>
